@import url(https://fonts.googleapis.com/css?family=Open+Sans);

html{
  text-rendering: optimizeLegibility;
  color:#000;
  font-family: 'Open Sans', sans-serif;
  background-color: #24262e;
  padding: 0;
  margin: 0;

}

body{
  padding: 0;
  margin: 0;
}


#dimmed{
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;

  -webkit-transition: background 300ms ease-in-out;
  -moz-transition: background 300ms ease-in-out;
  -ms-transition: background 300ms ease-in-out;
  -o-transition: background 300ms ease-in-out;
  transition: background 300ms ease-in-out;
}

#dimmed:after {
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 0;
}

.logo {
  display: block;
  margin: 0 auto;
  fill: rgba(255, 255, 255, 0.75);
  color: rgba(255, 255, 255, 0.75);

  -webkit-transition: fill 300ms ease-in-out;
  -moz-transition: fill 300ms ease-in-out;
  -ms-transition: fill 300ms ease-in-out;
  -o-transition: fill 300ms ease-in-out;
  transition: fill 300ms ease-in-out;
}

svg:hover{
  fill: #fff;
}

ul{
  height: 75%;
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right:5%;
}

#textBox{
    padding: 5% 0 0 10%;
    top:10%;
}

.big{
  font-size: 5em;
  color: #fff;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  text-transform: uppercase
}

.small{
  font-size: 2em;
  color: #fff;
  font-family: 'Open Sans', sans-serif;
}
